body{
    margin: 0;
    border: 0;
    padding: 0;
}

.header{
    background-color: #1f2937;
    color: white;
}

.nav {
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding: 15px 200px; 
}

.header-links {
    display: flex;
    gap: 25px;
}

a{
    color: white;
}

.top-container{
    display: flex;
    padding: 15px 200px;
    justify-content:center;
    align-items:end
    gap: 50px;
    padding-bottom: 50px;
}

.container-h1{
    flex: 1;
}
.sub {
    padding-bottom: 18px;

}
.title-h1{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 12px;
}

#top-picture{
    padding-left: 100px;
}
button{
    background-color:#3882f6;
    color:white;
}
.upper-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: 
}

.images{
    display: flex;
}